<style type='text/css'>
  table { border: solid 1px black }
  th,td { border:solid 1px black; margin:0; padding:10px;}
</style>
<h1>Recorded posts:</h1>

<table cellspacing='0' cellpadding='0'>
  <tr>
    <th>Params</th>
    <th>IP Address</th>
    <th>Timestamp</th>
  </tr>
  <% @recorded_posts.each do |recorded_post| %>
    <tr>
      <td><%= recorded_post.content %></td>
      <td><%= recorded_post.ip_address %></td>
      <td><%= recorded_post.created_at %></td>
    </tr>
  <% end %>
</table>
